.inputContainer {
  display: flex;
  padding: 20;
  flex-direction: row;
  border-radius: 50;
  align-items: 'center';
  justify-content: 'space-between';
  background: #11315D;
  width: 300px;
}

input {
  border: 0;
  color: white;
  width: 300px;
  font-size:15px;
  background-color: '#11315D'
}

input, textarea {
  background-color: #11315D;
}

textarea:focus, input:focus{
  outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}